{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/monitoring.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <title>AAVS1 Monitoring</title>
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'email_settings' %}" class="top-menu" target="_blank"><span class="glyphicon glyphicon-cog"></span></a>
            <a href="{% url 'send_email_test' %}" class="top-menu" target="_blank"><span class="glyphicon glyphicon-envelope"></span></a>
            <h1><a href="{% url 'datacentre' %}">AAVS1 Monitoring</a></h1>
        </div>
        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
