{% extends 'monitoring/base.html' %}

{% block content %}

    <h1>Datacentre View</h1>

    {% for rack in racks %}

        {%  if forloop.first %}<div class="row"><div class="col-md-4"></div>{%  endif  %}

        <div class="col-md-2">
            <a href="{% url 'rack' rack_number=rack.component_id %}">
            {% include 'monitoring/component_colour.html' with component=rack unselected="" %}
                <div class="panel-heading">Rack {{ rack.component_id }}</div>
            </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {%  endfor %}
{% endblock %}
