{% extends 'monitoring/base.html' %}

{% block content %}
    {% if sent == True %}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Your email was sent.
        </div>
    {% elif sent == False %}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failure:</strong> {{ message }}
        </div>
    {%  endif %}
    <h1>Send Email</h1>
    <div class="col-lg-6">
    <form method="POST" class="email-form">{% csrf_token %}
        <div class="row row-eq-height-xs">
            <div class="col-xs-4"> <strong>From:</strong></div>
            <div class="col-xs-8 pull-right">{{ form.sender }}</div>
        </div>
        <div class="row row-eq-height-xs">
            <div class="col-xs-4"> <strong>To:</strong></div>
            <div class="col-xs-8 pull-right">{{ form.recipient }}</div>
        </div>
        <div class="row row-eq-height-xs">
            <div class="col-xs-4"><strong>Subject:</strong></div>
            <div class="col-xs-8 pull-right">{{ form.subject }}</div>
        </div>
        <div class="row row-eq-height-xs">
            <div class="col-xs-4"><strong>Message:</strong></div>
            <div class="col-xs-8 pull-right">{{ form.message }}</div>
        </div>
        <button type="submit" class="send btn btn-primary pull-right">Send</button>
    </form>
    </div>
{% endblock %}