<div id="properties" class="tab-pane fade in active">
    <h3>Properties</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
            <th>Promote</th>
        </tr>
        </thead>
        <tbody>
        {% for prop in properties %}
            <tr>
                <td>{{ prop.property_name }}</td>
                <td>{{ prop.property_type }}</td>
                <td>{{ prop.property_value }}</td>
                <td>
                    {% if prop.monitored == True %}
                        <input type="checkbox" name="promote_to_metric" value="{{ prop.id }}" checked>
                    {% else %}
                        <input type="checkbox" name="promote_to_metric" value="{{ prop.id }}">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="send btn btn-primary pull-right">Promote</button>
</div>
