<div id="commands" class="tab-pane fade">
    <h3>Commands</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Parameters</th>
        </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td>{{ command.name }}</td>
                <td>
                    {% for par in command.parameters.all %}
                        {{ par }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>