<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#properties">Properties</a></li>

    {% if events == None %}
        <li class="disabled"><a href="#events">Events</a></li>
    {% else %}
        <li><a data-toggle="tab" href="#events">Events</a></li>
    {% endif %}

    {% if commands == None %}
        <li class="disabled"><a href="#commands">Commands</a></li>
    {% else %}
        <li><a data-toggle="tab" href="#commands">Commands</a></li>
    {% endif %}

</ul>

<div class="tab-content">
    {% include 'monitoring/rack_properties.html' with prop=properties %}

    {% include 'monitoring/rack_events.html' with events=events %}

    {% include 'monitoring/rack_commands.html' with commands=commands %}
</div>
