{% extends 'monitoring/base.html' %}

{% block content %}

    <h1>Rack {{ rack.component_id }}</h1>

    <div class="row">
        <div class="col-lg-4">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle " type="button" id="componentFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Filter
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" aria-labelledby="componentFilter">
                {% for type in component_types %}
                    <li><a href="{% url 'rack' rack_number=rack.component_id component_type=type %}">{{ type }}</a></li>
                {% endfor %}
            </ul>
        </div>
        </div>
    </div>
    <div class="col-lg-4 rackimage">
        <div class="row">

        </div>

    <!-- display the rack layout -->
    {% include 'monitoring/rack_layout.html' with rack=rack component=comp max_rows=44 selected_comp_type=selected_comp_type selected_comp_id=selected_comp_id %}
    </div>

    <!-- display the tabbed view-->
    <div class="col-lg-8 tabview">
    {% include 'monitoring/rack_tabs.html' with prop=properties events=events commands=commands %}
    </div>

{% endblock %}
