<div id="events" class="tab-pane fade">
    <h3>Events</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Time</th>
            <th>Type</th>
            <th>Name</th>
            <th>Severity</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.timestamp }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.severity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>